<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="Storage" connectionString="Server=.; Database=loadtest; user id = sa; password=asdf1234!;"/>
  </connectionStrings>
  <appSettings>
    <add key="OutputLocation" value="C:\temp"/>
  </appSettings>
</configuration>